<% slogan(quotation_generator("If I have seen further it is by standing on the shoulders of giants", :author => "Sir Isaac Newton", :born => 1642, :died => 1727))  %>
<div class="center hero-unit">
  <h2>Welcome to <%= logo %></h2>
  <p>
    This is the home page for the College of Engineering's 
    <a href="http://proman.swan.ac.uk/">Proman</a> &mdash; Project Selection Management tool, 2014 edition.
  </p>

  <%= link_to "Request invite", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>